---
---

@import "{{ site.theme }}";
.page-header {
    padding: 2rem 2rem;
}

@media print {
    .page-header {
        padding: 1rem;
        background: none;
        color: black;
        border-bottom: 2px solid #eee;
    }
    .project-name, .project-tagline {
        color: black !important;
    }
    .main-content {
        padding: 1rem 0;
        max-width: 100%;
        margin: 0;
    }
}

a:hover, a:focus{
    text-decoration: underline;
    font-weight: normal;
}

a {
    text-decoration: none;
}

header p {
    margin: 0 0 5px;
}

header h1 a:hover, header h1 a:visited {
    font-weight: bold;
    text-decoration: none;
}

.wrapper footer p small{
    display: none;
}

code {
    padding: 3px;
    background: #b5c7ef57;
    border-radius: 4px;
}
